.calc, .calc button {
    font-family: 'Cousine', sans-serif;
}

.calc {
    width: 100%;
    position: relative;
}

.calc-wrap {
    grid-template-columns: 1.2fr 3fr;
}

.calc-input {
    display: grid;
    background-color: var(--clr-grayscale-000);
    padding: 2rem 1rem 2rem 1rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

}

.calc-input-wrap {
    display: grid;
    /* margin-top: .5rem; */
    gap: 1rem;
    place-items: center;
    height: fit-content;
}

.calc-programms-wrap {
    display: grid;
    gap: 0.5rem;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.calc-input-label-info {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--clr-grayscale-600);
}

.calc-button-programms {
    background-color: var(--clr-grayscale-100);
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    color: var(--clr-primary-dark-green);
    border: none;
    text-align: left;
    height: 43px;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    place-items: center;
    cursor: pointer;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border: 1px solid var(--clr-primary-dark-green);
}
.calc-img-hide {
    margin-block: auto;
}



#calc-all-programms-arrow, .calc-img-sort-img {
    transition: transform 250ms ease;
    -webkit-transition: transform 250ms ease;
    -moz-transition: transform 250ms ease;
    -ms-transition: transform 250ms ease;
    -o-transition: transform 250ms ease;
}

#calc-programms-drop-down {
    display: none;
    position: absolute;
    width: 100%;
    bottom: 0;
    transform: translateY(calc(100% - 10px));
    z-index: 100;
    height: fit-content;
    background-color: var(--clr-grayscale-100);
    padding-top: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 80px -20px, rgba(0, 0, 0, 0.3) 0px 40px 50px -30px;
    
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0;
    padding-top: 1rem;
    border: 1px solid var(--clr-primary-dark-green);
    border-top: 0;
    list-style: none;
}

.program-name {
    padding-block: 12px;
    margin-inline: 16px ;
    border-top: 1px solid var(--clr-grayscale-000);
    cursor: pointer;
    font-family: Cousine;
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--clr-primary-dark-green);
}


.calc-info {
    background-color: var(--clr-grayscale-000);
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    border-top-left-radius: 0px ;
    border-top-right-radius: 0px ;
}

.calc-lower {
    display: none;
    user-select: none;
}


.calc-slider-wrap {
    background-color: var(--clr-grayscale-100);
    border-radius: .5rem;
    height: 3rem;
    position: relative;
    display: grid;
}


.calc-slider-container  .double-slider-type {
    color: var(--clr-grayscale-400);
    font-weight: var(--fs-body14);
    display: block;
    padding-bottom: .5rem;  
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
}

.calc-slider-val-wrap {
    color: var(--clr-primary-dark-green);
    font-weight: 600;
    display: flex;
    place-items: center;
    padding-left: 1rem;
}

.calc-slider-container {
    display: grid;
    gap: 0.5rem;
    position: relative;
    width: 100%;
}
.calc-input-wrap {
    gap: 21px;
}

.calc-input-button-confirm {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--clr-grayscale-000);
    height: 3rem;
    background-color: var(--clr-grayscale-800);
    border: none;
    width: 13rem;
    cursor: pointer;
    margin: 3rem auto 0 auto;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.calc-info-last {
    display: flex;
    justify-content: space-between;
    width: clamp(6rem, -4.318rem + 22.898vw, 14rem);
}

.calc-info-bank {
    width: 7.5rem;
}

.rotated {
    transform: rotate(180deg);
}

/* calc info */

.calc-info {
    display: flex;
    flex-direction: column;
    max-height: max-content;
    gap: 1rem;
    padding: 1rem 1rem 2.25rem 1rem;
}

.calc-info-sort {
    display: none;
    grid-template-columns: 1fr auto;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    color: var(--clr-primary-dark-green);
    background-color: var(--clr-grayscale-200);
    padding: 4px 16px;
    width: 100%;
    cursor: pointer;
    position: relative;
    z-index: 1;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}



.calc-sort-list {
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    width: 100%;
    bottom: 8px;
    padding-top: 8px;
    left: 0;
    transform: translateY(100%);
    background-color: var(--clr-grayscale-200);
    display: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-bottom-left-radius:8px ;
    border-bottom-right-radius:8px ;
}

.calc-sort-list li {
    padding: 12px 0;
    margin-inline: 1rem ;
    border-top: 1px solid var(--clr-grayscale-000);
    color: var(--clr-grayscale-800);
}
.calc-sort-label {
    padding: 12px 0;
    font-weight: 700;
    display: inline-block;
    display: block;
    width: 100%;
}

.calc-img-sort {
    width: 1.2rem;
    aspect-ratio: 1;
}

.calc-info-sort-label {
    display: flex;
    place-items: center;
    gap: 1rem;

}

.calc-info-price, .calc-info-proc, .calc-info-years {
    position: relative;
}

.calc-info-price::before {
    content: 'от ';
}

.calc-info-proc::before {
    content: 'от ';
}

.calc-info-proc::after {
    content: '%';
}

.calc-info-years::after {
    content: ' лет';
}

.calc-price {
    width: 8.5rem;
}

.calc-price::after {
    content: 'руб./мес.';
    margin-left: 0.2rem;
}

@media screen and (max-width: 1051px) {

    .calc-wrap {
        grid-template-columns: 1fr;
    }

    .calc-input {
        /* margin-bottom: 3rem; */
    }
    
    .calc-input-wrap {
        grid-template-columns: repeat(2, 1fr);
    }

    .calc-input-button-confirm {
        width: 100%;
        font-family: 'Cousine', sans-serif;
    }

    }

    .calc-sort-label {
        padding-right: 4rem;
    }

@media screen and (max-width: 600px) {

    .calc-input-wrap {
        grid-template-columns: 1fr;
    }

    
    .calc-info-sort {
        width: 100%;
    }



    .calc-info-bank {
        padding-bottom: 0.5rem;
        margin-bottom: 0.5rem;
        margin-top: 1rem;
        width: 100%;
    }

    .calc-price {
        margin-left: 0.5rem;
    }

    .calc-info-price::before {
        position: relative;
    }

    .calc-info-last {
        width: 100%;
        justify-content: start;
        gap: 1rem;
        margin-bottom: 1rem;
    }
    .calc-info-price::before {
        left: -0.5rem;
    }
    .calc h2 {
        text-align: center;
        font-size: 28px;
        white-space: pre-line;
        line-height: 30px;
    }
}




.calc__result-item {
    border-bottom: 1px solid var(--clr-grayscale-400);
    padding-bottom: 8px;
}
.calc__bank-name {
    font-family: Cousine;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: var(--clr-grayscale-800);
    margin-bottom: 8px;
    max-width: 100%;
    white-space: nowrap;
    overflow-x: clip;
    text-overflow: ellipsis;
}
.calc__bank-text {
    font-size: 10px;
    font-weight: 400;
    line-height: 13px;
    white-space: nowrap;
    overflow: clip;
    text-overflow: ellipsis;
}
.calc__bank-text-wrapper {
    display: flex;
    justify-content: space-between;
    padding-inline: 8px;
}
.calc__bank-price {
    min-width: 20ch;
    width: 20ch;
    max-width: 20ch;
    text-overflow: clip;
}
.calc__bank-duration  {
    min-width: 8ch;
    max-width: 13ch;
}
.calc__bank-fee {
    min-width: 7ch;
    max-width: 11ch;
}


@media only screen and (min-width: 600px) {
    .calc__result-item {
        display: flex;
        gap: 10px;
        justify-content: space-between;
        padding-top: 8px;
    }
    .calc__bank-name {
        min-width: 180px;
        max-width: 180px;
    }
    .calc__bank-name {
   
        font-size: 18px;
    }
    .calc__bank-text {
        font-size: 14px;
    }
    .calc__bank-text-wrapper {
        width: 100%;
    }
}


@media only screen and (min-width: 1051px) {
    .calc__result-item {
        display: flex;
        gap: 10px;
        justify-content: space-between;
        padding-top: 8px;
        padding-bottom: 12px;
    }
    .calc-wrap {
        background-color: var(--clr-grayscale-000);
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
        padding-inline: 2rem;
        display: flex;
        justify-content: space-between;
    }
    .calc__bank-text-wrapper {
        gap: 1rem;
    }
    .calc-info {
        gap: 20px;
    }
    .calc__bank-text {
        font-size: 18px;
        line-height: 18px;
    }
    .calc-info-bank {
        grid-column-start: 1;
        grid-column-end: 3;
        width: 100%;
    }
    .calc-info-bank span {
        text-align: left;
    }
    .calc-info-price {
        width: 100%;
        
    }
    .calc-info {
        width: 100%;
    }
    .calc-input {
        min-width: 304px;
    }
    .calc-info-price, .calc-info-last {
        font-size: 13px;
    }
    .calc-info, .calc-input {
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
    }
    .calc-info-sort {
        width: fit-content;
    }
    .calc-info {
        padding-top: 2rem;
    }
    .section-mortgage__subtitle {
        margin-top: 0 !important;
    }
    .calc-input-wrap {
        gap: 36px;
    }
}

.calc-info-last {
    display: flex;
    gap: 1rem;
    width: fit-content;
    
}
.calc__slider-container {
    width: 100%;
}

.section-mortgage__double-slider {
    background-color: var(--clr-grayscale-100);
}
