body {

    /* color text button confirm */
    --clr-grayscale-000: #ffffff;


    /* color background */

    --clr-grayscale-200: #F2F4F8;

    /* color slider touch */
    --clr-primary-darkblue: #16215B;

    /* color text info programs */

    --clr-grayscale-800: #1E2020;

    /* color slider bar/text button sort on mobile */
    --clr-primary-lightblue: #0373FF; 

    /* width */

    /* --content-width-1280: 76rem; 
    --content-width-720: 40.8331rem;
    --content-width-320: 19rem;
    --content-width: clamp(var(--content-width-720), -4.3886rem + 100.4857vw, var(--content-width-1280)); */


}


.calc, .calc button {
    font-family: 'Cousine', sans-serif;
}

@media screen and (max-width: 720px) {
    body {
        --content-width: clamp(var(--content-width-320), 1.536rem + 87.32vw, var(--content-width-720));
    }
}

.calc {
    width: 100%;
}

.calc-wrap {
    grid-template-columns: 1.2fr 3fr;
}

.calc-input {
    display: grid;
    background-color: var(--clr-grayscale-000);
    padding: 2rem 1rem 4rem 1rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

}

.calc-input-wrap {
    display: grid;
    /* margin-top: .5rem; */
    gap: 1rem;
    place-items: center;
    height: fit-content;
}

.calc-programms-wrap {
    display: grid;
    gap: 0.5rem;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.calc-input-label-info {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--clr-grayscale-600);
}

.calc-button-programms {
    background-color: var(--clr-grayscale-200);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    color: var(--clr-primary-dark-green);
    border: none;
    text-align: left;
    border-radius: 8px;
    height: 43px;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    place-items: center;
    cursor: pointer;
}
.calc-img-hide {
    margin-block: auto;
}



#calc-all-programms-arrow, .calc-img-sort-img {
    transition: transform 250ms ease;
    -webkit-transition: transform 250ms ease;
    -moz-transition: transform 250ms ease;
    -ms-transition: transform 250ms ease;
    -o-transition: transform 250ms ease;
}

#calc-programms-drop-down {
    display: none;
    position: absolute;
    width: 100%;
    bottom: 0;
    transform: translateY(calc(100% - 10px));
    z-index: 100;
    height: fit-content;
    background-color: var(--clr-grayscale-200);
    padding-top: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0;
    padding-top: 1rem;
    border: 0;
    list-style: none;
}

.program-name {
    padding-block: 12px;
    margin-inline: 16px ;
    border-top: 1px solid var(--clr-grayscale-000);
    cursor: pointer;
}


.calc-info {
    background-color: var(--clr-grayscale-000);
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    border-top-left-radius: 0px ;
    border-top-right-radius: 0px ;
}

.calc-lower {
    display: none;
    user-select: none;
}


.calc-slider-wrap {
    background-color: var(--clr-grayscale-200);
    border-radius: .5rem;
    height: 3rem;
    position: relative;
    display: grid;
}


.calc-slider-container  .double-slider-type {
    color: var(--clr-grayscale-400);
    font-weight: var(--fs-body14);
    display: block;
    padding-bottom: .5rem;  
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
}

.calc-slider-val-wrap {
    color: var(--clr-primary-dark-green);
    font-weight: 600;
    display: flex;
    place-items: center;
    padding-left: 1rem;
}

.calc-slider-container {
    display: grid;
    gap: 0.5rem;
    position: relative;
    width: 100%;
}
.calc-input-wrap {
    gap: 2rem;
}

.calc-input-button-confirm {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--clr-grayscale-000);
    height: 3rem;
    background-color: var(--clr-grayscale-800);
    border: none;
    width: 13rem;
    cursor: pointer;
    margin: 3rem auto 0 auto;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.calc-info-last {
    display: flex;
    justify-content: space-between;
    width: clamp(6rem, -4.318rem + 22.898vw, 14rem);
}

.calc-info-bank {
    width: 7.5rem;
}

.rotated {
    transform: rotate(180deg);
}

/* calc info */

.calc-info {
    display: flex;
    flex-direction: column;
    padding:  1rem;
    max-height: max-content;
    gap: 1rem;
}

.calc-info-container {
    display: flex;
    justify-content: space-between;
    background-color: var(--clr-grayscale-200);
    height: 4rem;
    place-items: center;
    padding: 0 1rem;
    font-size: clamp(0.75rem, 0.428rem + 0.716vw, 1rem);
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    color: var(--clr-grayscale-800);
    white-space: nowrap;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}


.calc-info-sort {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    color: var(--clr-primary-dark-green);
    background-color: var(--clr-grayscale-200);
    padding: 4px 16px;
    width: 100%;
    cursor: pointer;
    position: relative;
    z-index: 1;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}



.calc-sort-list {
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    width: 100%;
    bottom: 8px;
    padding-top: 8px;
    left: 0;
    transform: translateY(100%);
    background-color: var(--clr-grayscale-200);
    display: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-bottom-left-radius:8px ;
    border-bottom-right-radius:8px ;
}

.calc-sort-list li {
    padding: 12px 0;
    margin-inline: 1rem ;
    border-top: 1px solid var(--clr-grayscale-000);
    color: var(--clr-grayscale-800);
}
.calc-sort-label {
    padding: 12px 0;
    font-weight: 700;
    display: inline-block;
    display: block;
    width: 100%;
}

.calc-img-sort {
    width: 1.2rem;
    aspect-ratio: 1;
}

.calc-info-sort-label {
    display: flex;
    place-items: center;
    gap: 1rem;

}

.calc-info-price, .calc-info-proc, .calc-info-years {
    position: relative;
}

.calc-info-price::before {
    content: 'от ';
}

.calc-info-proc::before {
    content: 'от ';
}

.calc-info-proc::after {
    content: '%';
}

.calc-info-years::after {
    content: ' лет';
}

.calc-price {
    width: 8.5rem;
}

.calc-price::after {
    content: 'руб./мес.';
    margin-left: 0.2rem;
}

@media screen and (max-width: 950px) {

    .calc-wrap {
        grid-template-columns: 1fr;
    }

    .calc-input {
        /* margin-bottom: 3rem; */
    }
    
    .calc-input-wrap {
        grid-template-columns: repeat(2, 1fr);
    }

    .calc-input-button-confirm {
        width: 100%;
        font-family: 'Cousine', sans-serif;
    }

}

.calc-sort-label {
    padding-right: 4rem;
}

@media screen and (max-width: 600px) {

    .calc-input-wrap {
        grid-template-columns: 1fr;
    }

    
    .calc-info-sort {
        width: 100%;
    }


    .calc-info-container {
        flex-direction: column;
        height: fit-content;
        place-items: normal;
        gap: 0;
    }

    .calc-info-bank {
        border-bottom: 1px solid var(--clr-grayscale-200);
        padding-bottom: 0.5rem;
        margin-bottom: 0.5rem;
        margin-top: 1rem;
        width: 100%;
    }

    .calc-price {
        margin-left: 0.5rem;
    }

    .calc-info-price::before {
        position: relative;
    }

    .calc-info-last {
        width: 100%;
        justify-content: start;
        gap: 1rem;
        margin-bottom: 1rem;
    }
    .calc-info-price::before {
        left: -0.5rem;
    }
    .calc h2 {
        text-align: center;
        font-size: 28px;
        white-space: pre-line;
        line-height: 30px;
    }
}


@media only screen and (min-width: 950px) {
    
    .calc-wrap {
        grid-template-columns: 1.2fr 3fr;
        display: grid;
        gap: 2rem;
    }
    .calc-info-container {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 0rem;
        font-size: 18px;
        padding-block: 1rem;
        height: 6rem;
    }
    .calc-info-bank {
        grid-column-start: 1;
        grid-column-end: 3;
        width: 100%;
    }
    .calc-info-bank span {
        text-align: left;
    }
    .calc-info-price {
        width: 100%;
        
    }
    .calc-info-price, .calc-info-last {
        font-size: 13px;
    }
    .calc-info, .calc-input {
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
    }
    .calc-info-sort {
        width: fit-content;
    }
    .calc-info {
        padding-top: 2rem;
    }
}

.calc-info-last {
    display: flex;
    gap: 1rem;
    width: fit-content;
    
}
.calc__slider-container {
    width: 100%;
}
