html,body {
    max-height: 100dvh;
    overflow-x: clip;
    scroll-behavior: smooth;
}
body {
    /* min-height: 100%; */
    
    --clr-grayscale-1000: #202020;
    --clr-grayscale-800: #353535;
    --clr-grayscale-600: #9D9D9D;
    --clr-grayscale-400: #CECECE;
    --clr-grayscale-200: #DDDEE0;
    --clr-grayscale-100: #ECECEC;
    --clr-grayscale-000: #ffffff;

    --clr-primary-dark-green: #193D23;
    --clr-primary-green: #338148;
    --clr-primary-violet: #6843F4;
    --clr-primary-beidge: #EBCCC2;

    font-family: 'Cousine';

    overflow-x: clip;
   
}
@font-face {
    font-family: 'Cousine';
    src: url('../font/Cousine-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Cousine';
    src: url('../font/Cousine-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Unbounded';
    src: url('../font/Unbounded-Regular.ttf') format('truetype');
}

label {
    cursor: pointer;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
     text-decoration: none;
}

.flip {
transform: rotate(180deg);
}

.hidden-above {
transform: translateY(-120%);
}

.hidden-below {
transform: translateY(100%);
}
